
.App {
  text-align: center;
}


.App-header {
  background-color: #f0f0f4;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: rgba(0, 0, 0, 0.603);
  overflow: hidden;
  width: "100%";
}

.App-link {
  color: #61dafb;
}

button:focus {
  outline:none;
  box-shadow: none;
}


.little-m {
  margin : 0.2rem;
  padding : 0.1rem;
}


.middle-m {
  margin : 0.4rem;
  padding : 0.2rem;
}


.white-bg {
  background-color: white;
}


@keyframes move-down {
  0% {transform: translateY(5px)}
  10% {transform: translateY(10px)}
  15% {transform: translateY(15px)}
  50% {transform: translateY(12px)}
  85% {transform: translateY(6px)}
  100% {transform: translateY(0)}
  }

@keyframes move-up {
  0% {transform: translateY(-3px)}
  10% {transform: translateY(-5px)}
  15% {transform: translateY(-6px)}
  60% {transform: translateY(-5px)}
  85% {transform: translateY(-3px)}
  100% {transform: translateY(0)}
  }

  @keyframes move-to-front {
    0% {transform: translate(5px,5px)}
    15% {transform: translate(10px,10px)}
    40% {transform: translate(10px,10px)}
    75% {transform: translate(5px,5px)}
    100% {transform: translate(0px,0px)}
    }
.cube-move-up-go {
  animation: move-up 2s linear forwards;
}
.cube-move-down-go {
  animation: move-down 2s linear forwards;
}
.cube-move-to-front-go {
  animation: move-to-front 2s linear forwards;
}



.search-tag{
  opacity: 1;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  border-width: 0.5px;
  border-style: hidden;
  padding: 5px;
  margin: 4px;
  font-size: 0.7em;
  font-weight: 200;
  border-radius: 5px;
  cursor: default;
}


.search-tag-selected{
  opacity: 1;
  background-color: white;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  border-width: 0.5px;
  border-style: solid;
  border-color: black;
  padding: 4px;
  margin: 3px;
  font-size: 0.7em;
  font-weight: 200;
  border-radius: 5px;
  cursor: default;
}

.search-tag:hover {
  background-color: #a39e9e79;
  opacity: 1;
}

.tag-container-evenly {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tag-container-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tag-container {
  display: flex;
}

.within-tag-container{
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: 4 auto;
  padding: 7px;
}


.start-tag-container{
  display: flex;
  justify-content: flex-start;
  margin: 4 auto;
  padding: 7px;
}

.topbar-fixed {
  position: fixed;
  top:0px;
  left:0px;
  height:40px;
  width: calc(100% - 43px);
  margin-left:43px;
  background-color: white;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  z-index: 5;
}


.topbar-fixed-dataset {
  position: fixed;
  top:0px;
  left:0px;
  height:40px;
  width: 100vw;
  background-color: white;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  z-index: 5;
  padding-right:0.5rem;
}


.leftbar-fixed {
  position: fixed;
  top:0px;
  left:0px;
  height:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width:40px;
  background-color: white;
}



hr {
  width: 96%;
  color: black;
  height: 1px;
  margin: 0px;
}


.welcome-content {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 30%;
  font-size: 0.95rem;
  -webkit-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);
}


.top-right-absolute-container {
  position: absolute;
  margin: 1rem;
  top : 0;
  right : 0;
  height : 100px;
  font-size: 00.75rem;
}


.footer {
  height:100px;

}

.fade-out-box-container {
  justify-content: space-between;
  display: flex;
  cursor: default;
  font-size: 0.55em;
  font-weight: 400;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  align-items: center;
  margin-top:3px;
  margin-left:4px;
  transition-duration: 0.5s;
  transition-property: font-size background-color;
}

.fixed-box{
  max-width: 35px;
  padding: 3px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
}


.fixed-box-big{
  max-width: 55px;
  padding: 3px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
}


.fade-out-box-container-highlighted{
  justify-content: space-between;
  display: flex;
  cursor: default;
  font-size: 0.6em;
  font-weight: 400;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  align-items: center;
  color: black;
  margin-top:3px;
  margin-left:4px;
  background-color: #f0f0f4;
  transition-duration: 0.5s;
  transition-property: font-size background-color;
}


.fade-out-text-box{
  max-width: 130px;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px;
  mask-image: linear-gradient(to right, black 85%, transparent 100%);
}

.fade-out-box-container:hover,
.fade-out-box-container:focus{
  background-color: #f0f0f4;
  font-size: 0.6em;
  transition-duration: 0.5s;
  transition-property: font-size background-color;
}



.omnibar-search-item{
  
  background-color: #efefef;
  cursor: pointer;
  padding: 3px;
}
.omnibar-search-item:hover{
    background-color: #e0e0e0;
}


.card-frame {
  background-color: white;
  font-size: 0.85rem;
  padding: 3px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.filter-wrapper{
  font-size: 1rem;
  margin: 0.85rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  
}

.filter-tag-container{
  font-size: 1rem;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}


.filter-tag-container-col{
  font-size: 1rem;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.filter-tag-button-base-container {

  display: flex;
  justify-content: space-between;
  min-width : 50px;
  align-items: center;
  flex-direction: row;
  margin:5px;
  padding:5px;
  min-height: 10px;
  border-radius: 4px;
  cursor: default;
}
.filter-tag-button-container {
  
  background-color: rgb(36, 46, 54);
  font-size: 0.85rem;
  color: white;
  transition-duration: 0.5s;
  transition-property: background-color color;
  
}

.header-div{
  font-size: 0.9rem;
  font-weight: 600;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
}


.vert-align-div{
  
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.vert-align-div-center{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vert-align-div-flexStart{
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.filter-tag-button-container:hover {
  background-color: rgba(36, 46, 54, 0.658);
  color : #efefef;
  transition-duration: 0.5s;
  transition-property: background-color color;
}


.filter-tag-button-container-inactive{
  
  background-color: rgba(255, 255, 255, 0.123);
  font-size: 0.85rem;
  color: #201d1da1;
  
  cursor: default;
  transition-duration: 0.5s;
  transition-property: background-color color;
}

.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px
}

.hor-aligned-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
}

.hor-aligned-center-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  
}

.hor-aligned-center-div-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  
}

.hor-aligned-center-div-between-space{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  
}

.hor-aligned-center-div-sapce-between{
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  align-items: center;
  
}



.hor-aligned-center-flex-start{
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  align-items: center;
  flex-wrap: wrap;
  
}

.anova-selection-label{
  padding-right:0.5rem;
  margin-right: 0.7rem;
  min-width:150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.hor-aligned-out  {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
}

.axis-container{
  padding: 0.2rem;
}


.axis-div{
  margin: 0.0rem;
  flex: 1 1 0px;
  min-width: 20px;
  overflow: hidden;
  align-items: center;
  
}



.shortcut-filter-div{
  position:absolute;
  left:0;
  bottom: 0;
  display :flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width : 40px;
  padding-bottom: 10px;
}


.shortcut-filter-item{
  margin:"auto";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shortcut-filter-item:hover{
  background-color: #efefef;
}

.react-grid-item.react-grid-placeholder {
  background: rgb(36, 46, 54);
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.exp-info-container{
  background-color: #efefef;
  margin: 0.5rem 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.header-div-exp{
  font-size: 1.2rem;  
  padding-bottom: 0.2rem;
}

.details-div-exp{
  width: 100%;
  max-height:250px;
  overflow:hidden;
  content: "";
  position:relative;
  
  transition-property: max-height;
  transition-duration: 1.5s;
}
.details-div-exp:before {
  content:'';
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  
  
}

.details-div-exp-after-hover{
  border-radius: 10px;
  max-height: 280px;
  transition-property: max-height;
  transition-duration: 1.5s;
  background: #efefef !important; 
  overflow: scroll;
}


.tooltip-div {
  max-width: 180px;
  padding: 0.25rem;
}


.help-sidebar {
  min-width: 220px;
  max-width: 220px;
  border-right: 1px solid black;
  padding: 35px 25px 15px 15px;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.979);
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.help-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.help-dynamic-info {
  margin-left: 50px;
  margin-top: 20px;
  margin-right : 40px;
  height: 100%;
  overflow-y: scroll;
}

.help-link {
  color: inherit;
  text-decoration: inherit;
  outline: none;
}

.help-activeLink {
  color: #b66476;
  font-weight: bold;
}

.help-link:hover {
  color: black;
  text-decoration: inherit;
  font-weight: bold;
}

.link-level-1 {
  font-size: 1.1rem;
}

.link-level-2 {
  font-size: 0.8rem;
  margin-left: 7px;
}

.link-level-3 {
  font-size: 0.75rem;
  margin-left: 15px;
}

.help-text-div {
  font-size: 0.95rem;
}

.item-organism {
  font-weight: bold;
}


.dataset-selection-content {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 0%;
  font-size: 0.95rem;
  padding: 1rem;
  height: 90%;
  width: 85%;
  /* -webkit-transform: translate(50%, 0%);*/
  transform: translateX(-50%);
}

.dataset-selection-container {
  display: flex;
  flex-direction: column;
  width : 100%;
  height: 95%;
  overflow-y: scroll;
  align-items: flex-start;
  justify-content: start;  
  margin-top:0.5rem;
  padding-right : 1rem;
}


.dataset-selection-box {
  font-size: 0.8rem;
  background-color : rgba(250, 250, 250, 0.903);
  margin-top : 0.2rem;
  padding-top : 0.5rem;
  padding-bottom : 0.5rem;
  padding-left : 0.3rem;
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  transition-duration: 0.6s;
  transition-property: font-size;
  border-radius: 5px;
  position: relative;
}


.dataset-selection-box:hover {
  /* background-color: rgba(250, 250, 250, 0.349); */
  font-size: 0.8rem;
  transition-duration: 0.8s;
  transition-property: font-size;
  
}

.dataset-tag-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 0.75rem;
  padding-top: 0.4rem;
}


.dataset-container{
  margin-top:42px;
  overflow: hidden;
  width: calc(100vw - 2rem);
  margin-right: 1.0rem ;
  margin-left: 1.0rem ;
  height: calc(100vh - 42px); 
  

}


.dataset-attr-name {
  font-weight: 700;
  margin-right: 1rem;
  min-width: 20rem;
}

.navbar-link {
  margin: 0.1rem;
  margin-left: 3rem;
  margin-top:0.7rem;
  font-size:1rem
}


.admin-nav-container{
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns:  repeat(auto-fit, minmax(150px, 1fr));
}

.user-items-container{
  margin-top: 0.2rem;
  display: grid;
  align-items:center;
  grid-template-columns:  repeat(auto-fit, minmax(80px, 4fr));

}



.volcano-container{
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(450px, 1fr));
  height : 90vh;
  overflow-y:scroll;
}

.volcano-box{
  width: 95%;
  height:500px;
  border:  solid 0.2px;
  background-color: white;
  margin : 0.2rem;
  padding: 0.2rem;
}

.unselectable-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
.my-tall-menu .bp4-menu {
  max-height: 500px;
  overflow-y: auto;
}



.submission-button-container{
  width:auto;
  height:auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 1rem;
}


.mitomap-extra-view {

  position: absolute;
  right: 0vw;
  top: 0vh;
  /* height: 75vh; */
  height : minmax(30vw,50vh);
  /* max-height: 50vh; */
  width: 25vw;
  background-color: white;
  margin-top: calc(40px + 0.5rem);
  padding-left: 0.5rem;
  margin-right: 0.5rem;
  padding-right:0.2rem;
  overflow-x: hidden;
  overflow-y: hidden;

}

.mitomap-item-container{
  height : minmax(50px,40vh);
  max-height: 40vh;
  margin-top: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.mitomap-extra-chart {
  margin-top: 1rem;
  height: 25vw; 
}
.mitomap-item-sig{
  background-color: #9db58a;
  padding : 0.1rem;
  margin: 0.4rem;
  height:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  cursor: default;
 
 
}
.mitomap-item{
  background-color: #efefef;
  padding : 0.2rem;
  margin: 0.4rem;
  display: flex;
  height : 1.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  cursor: default;
}


.submission-admin-view{
  font-size: 0.75rem;
  min-width : calc(100vw - 4rem);
  background-color:transparent;
  padding: 4rem;
  margin: 1rem;
  height : calc(100vh - 2rem);
  
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15px;
  width : 180px;
  background: #aabbc2;
  transform-origin: 0%;
}

.submission-container {
  font-size: 0.75rem;
  background-color :#fafafa;
  margin-top : 0.2rem;
  padding-top : 0.1rem;
  padding-bottom : 0.3rem;
  padding-left : 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;

}
.submission-box {
  font-size: 0.75rem;
  background-color :#fafafa;
  display: flex;
  flex-direction: column;
  min-height: 90px;  
  align-items: flex-start;
  border-radius: 5px;
  position: relative;
}

.submission-prop {
  padding: 0.2rem;
}

.submission-details-item-container {

  max-height :  calc(100vh - 2rem - 145px);
  overflow-y: scroll;
  padding-bottom: 4rem;
 
}

.performance-run-prop-div{
  margin-left: 0.65rem;
  margin-bottom: 0.45rem;

}


.perfomance-chart-container{
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
  display: grid;
  justify-content :flex-start;
  align-items: flex-start;
  max-height : 70vh;
  grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
}

.performance-chart-box{
  min-width: 300px;
  min-height: 350px;
  height: 350px;
  max-height : 350px;
  }



.perfomance-run-chart-container{
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
  display: grid;
  justify-content :flex-start;
  align-items: flex-start;
  /* max-height : 55vh;
  overflow-y: scroll; */
  grid-template-columns:  repeat(auto-fit, minmax(200px, 350px));
}

.performance-run-chart-box{
  min-width: 200px;
  min-height: 350px;
  height: 350px;
  max-height : 350px;
  }

  .instrument-container{
    height : 90vh;
    max-height: 90vh;
    overflow-y: scroll;
    padding-right: 1rem;

  }


  .performance-tab-container{
    max-height: 60vh;
    margin-top: 0.2rem;
    padding-left: 0.7rem;
    background-color:#efefef;
  }


  .performace-specific-run-box{
    background-color: white;
    padding: 0.3rem;
    margin-bottom: 0.6rem;
    margin-right: 0.6rem;
    border-radius: 0.2rem;
  }


.performance-metric-container{
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
  display: grid;
  justify-content :flex-start;
  align-items: flex-start;
  /* max-height : 55vh;
  overflow-y: scroll; */
  grid-template-columns:  repeat(auto-fit, minmax(100px, 250px));
}


.performance-metric-item{
  position: relative;
  display: flex;
  min-width: 100px;
  max-width: 250px;
  height : 180px;
  background-color: #efefef;
  border-color: rgba(255, 255, 255, 0.123);
  border-width: 1px;
  padding: 0.2rem;
  margin : 0.4rem;
  justify-content: center;
  align-items: center;
}
.performance-metric-absolute-name{

  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}
.performance-metric-inner-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.performance-metric{
  font-weight: 500;
  font-size: 1.3rem;
  color: darkslategray;
}

.ptm-item {

    /* border: solid 0.5px black; */
    border-radius: 0.2rem;
    min-width: 100%;
    max-width: 100%;
    margin-top: 0.75rem;
    padding: 0.3rem;
    background-color: white;
}

.ptm-item:hover {
  background-color: #fafafa;

}

.ptm-item-container {

  overflow-y:scroll;
  height : 100%;
  width: 100%;

}

.ptm-view{
    font-size: 0.75rem;
    min-width : calc(100vw - 1rem);
    max-width : calc(100vw - 1rem);
    background-color:transparent;
    padding: 2rem;
    margin: 0.75rem;
    height : calc(100vh - 2rem);
    
  }

  .background-rect-ptm-inactive {
    opacity : 0.5;
    transition-duration: 1.5s;
    transition-property: opacity;
  }

.background-rect-ptm {
  opacity : 1;
  transition-duration: 1.5s;
  transition-property: opacity;
}


input[type="file"] {
  display: none;
}

.help-installation-container{
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top:8rem;
  margin-bottom: 4rem;
  width: calc(100vw - 8rem);
  height: calc(100vh - 12rem);
  font-size: 0.9rem;
}
.help-info-content {
  margin-top: 2rem;
  padding-left:2rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 6rem;
  height:100%;
  overflow-y: scroll;

}

.highlight-span {
  font-weight: bolder;
  color: #2F5597;
}

.help-venv-span {
  font-weight: bolder;
  color: #b66476;
}

.help-domain-span {
  font-weight: bolder;
  color: #9db58a;
}

.help-project-span {
  font-weight: bolder;
  color: #2F5597;
}

.icon-transition {
  transition-duration: 1.5s;
  transition-property: fill;
}


.admin-navbar{
  position: absolute;
  left: 0;
  height: 2rem;
  width : 100vw;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
}

.admin-nav-box{
  min-width: 150px;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  color: #2F5597;
  font-size: 1rem;
}


.admin-nav-box:hover{
  background-color: white;
}

.admin-dataset-container {
  width: 100vw;
  height : 100vh;
  font-size: 0.85rem;
  cursor: default;
}
.admin-dataset-header{
  margin-left: 2rem;
}
.admin-dataset-top-container{
  height : 9rem;
}

.admin-dataset-grid{
  width: 100vw;
  height : calc(100vh - 9rem);
  display: grid;
  gap: 0.0rem 0.0rem;
  padding-left: 0.75rem;
  padding-right: 2rem;
  overflow-y: scroll;
  overflow-x: scroll;
}

.admin-dataset-grid-left-center-item{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center; 
  border-right: 2px solid #efefef;
  border-top: 3px solid #efefef;
  padding-left: 0.3rem;
  font-size: 0.70vw ;
}



.leftbar-container{
  background-color: #ffffff;
  font-size : 1.2rem;
  padding : 3rem;
  height : 100vh;
  border-right: solid black 0.5px;
  
}


.container {
  margin: 4.5rem 1.4rem;
}

.btn-container {
  position: fixed;
  top : 0;

}

.leftbar-container div {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  margin-left : 1rem;
}
